<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="http://dev.sencha.com/deploy/ext-3.4.0/resources/css/ext-all.css" />

        <!-- Why wipe heroku? -->
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/ext-all.js"></script>

        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/menu/RangeMenu.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/menu/ListMenu.js"></script>

        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/GridFilters.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/filter/Filter.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/filter/StringFilter.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/filter/DateFilter.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/filter/ListFilter.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/filter/NumericFilter.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/gridfilters/filter/BooleanFilter.js"></script>

        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/FieldLabeler.js"></script>
        <script type="text/javascript" src="http://dev.sencha.com/deploy/ext-3.4.0/examples/ux/FieldReplicator.js"></script>

        <!-- Local scripts -->

        <script type="text/javascript" src="{% static "script/NoteForm.js" %}"></script>
        <script type="text/javascript" src="{% static "script/NoteFormWindow.js" %}"></script>
        <script type="text/javascript" src="{% static "script/stores.js" %}"></script>
        <script type="text/javascript" src="{% static "script/utils.js" %}"></script>
        <script type="text/javascript" src="{% static "script/filters.js" %}"></script>
        <script type="text/javascript" src="{% static "script/grid.js" %}"></script>
        <script type="text/javascript" src="{% static "script/main.js" %}"></script>
    </head>
    <body>
    </body>
</html>
